<footer class="site-footer">
  <div class="copyright">
    &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}. Proudly published with <a href="https://ghost.org">Ghost</a>
  </div>

    <!--<a href="http://www.miitbeian.gov.cn/" >赣ICP备16007005号-2</a>-->

  <a href="#" class="scroll-top">回到顶部</a>
</footer>
